/* Global color and style variables */
:root{
    --bcg-color: rgb(31, 31, 31);          /* Background color */
    --primary-color: rgb(129, 57, 129);    /* Primary color */
    --border-radius: 8px;                 /* Border radius */
    --secondary-color: black;              /* Secondary color */
    --border-color: #f0060e;               /* Border color */
}

/* Reset default styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Body styling */
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bcg-color);
}

/* Main container styling */
.box{
    background-color: var(--primary-color);
    padding: 30px;
    width: 400px;
    border-radius: var(--border-radius);
}

/* Header section styling */
.qr-header h1{
    font-size: 26px;
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 24px;
    text-transform: uppercase;
}

/* Input and Select styling */
.qr-header input, .qr-header select{
    width: 100%;
    padding: 8px;
    border-radius: var(--border-radius);
    font-size: 18px;
    outline: none;
    border: 4px solid rgb(62, 2, 62);
    margin-block: 12px;
}

/* Label styling */
.qr-header label{
    color: rgb(0, 0, 0);
    font-size: 20px;
}

/* Header div styling */
.qr-header div{
    display: flex;
    justify-content: space-between;
}

/* Footer section styling */
.qr-footer{
    display: flex;
    justify-content: center;
}

/* Button styling */
.qr-footer a{
    background-color: rgb(255, 243, 243);
    text-decoration: none;
    font-size: 20px;
    padding: 14px 36px;
    margin-inline: 3px;
    color: black;
    font-weight: 700;
    border-radius: 290px;
    border: 4px solid rgb(36, 2, 36);
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;  /* Smooth transition effect */

}

/* Hover effect for buttons */
.qr-footer a:hover {
    background-color: var(--border-color);  /* Change color on hover */
}

/* Body section styling */
.qr-body{
    display: grid;
    place-items: center;
    padding: 20px;
}

/* QR code image styling */
.qr-body img{
    max-width: 100%;
    max-height: 100%;
    margin-block: 10px;
    padding: 20px;
    border: 4px solid rgb(236, 231, 236);
    border-radius: 20px;
}

/* Responsive styling for smaller screens */
@media screen and (max-width:520px){
    .box{
        width: 80%;
    }

    .qr-footer a{
        padding: 12px;
        font-size: 16px;
    }
}
